<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav> -->
<nav mat-tab-nav-bar>
  <a mat-tab-link class="app-heading" routerLink="/home">
    <span>
      <img alt="angular" src="assets/icon.png">
    </span> JUST FLY </a>
  <a mat-tab-link routerLink="/home">Home
    <mat-icon aria-label="Input"></mat-icon>
  </a>

</nav>
<router-outlet></router-outlet>